* {
  margin: 0;
  padding: 0;
}

.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
}

body,
html {
  backface-visibility: hidden;
}

textarea::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #4f4f4f;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(94, 144, 187);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}