* {
    margin: 0;
    padding: 0;
    transition:
      width .4s ease-out,
      height .4s ease-out,
      transform .3s ease-out,
      opacity .4s ease-in-out,
      background .4s ease-in-out;
  }
  
  .unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
  }
  
  body,
  html {
    backface-visibility: hidden;
  }