html {
  overflow: hidden !important;
}

@topFrameHeight: 28px;

#app-frame-title {
  display: inline-block;
  height: @topFrameHeight;
  line-height: @topFrameHeight;
  padding: 0 10px;
}

#app-frame {
  position: absolute;
  top: 0;
  height: @topFrameHeight;
  width: 100%;
  background-color: #adb5bd;

  -webkit-app-region: drag;

  .pbtn {
    -webkit-app-region: no-drag;
  }
}

.frame-btn {
  float: right;
  -webkit-app-region: no-drag;

  &:focus {
    box-shadow: none !important;
  }
}
