* {
  margin: 0;
  padding: 0;
}
.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
}
body,
html {
  backface-visibility: hidden;
}
textarea::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: white;
}
::-webkit-scrollbar-thumb {
  background-color: #363d3a;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
html {
  overflow: hidden !important;
}
#app-frame-title {
  display: inline-block;
  height: 28px;
  line-height: 28px;
  padding: 0 10px;
}
#app-frame {
  position: absolute;
  top: 0;
  height: 28px;
  width: 100%;
  background-color: #adb5bd;
  -webkit-app-region: drag;
  user-select: none;
}
#app-frame .pbtn {
  -webkit-app-region: no-drag;
}
.frame-btn {
  float: right;
  -webkit-app-region: no-drag;
}
.frame-btn:focus {
  box-shadow: none !important;
}
#app-side-drawer {
  z-index: 100;
}
#content-frame {
  position: absolute;
  top: 28px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
#app-main-window {
  left: 56px;
  position: absolute;
  right: 0;
  margin: 0;
  overflow: hidden;
  top: 0;
  bottom: 0;
}
.main-window {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: whitesmoke;
  width: 100%;
  z-index: 0;
  opacity: 0;
  transform: translateX(10%);
  overflow: auto;
  transition: all 0.3s;
}
.show {
  opacity: 1;
  z-index: 10;
  transform: translateX(0%);
}
.v-card__subtitle,
.v-card__text,
.v-card__title {
  padding: 10px !important;
}
.my-toast-container {
  max-width: 500px;
  min-width: initial !important;
  z-index: 300 !important;
  right: 10px !important;
  bottom: 10px !important;
}
.my-toast {
  z-index: 300 !important;
}
.articleDialog {
  top: 100px;
  right: 22px;
  position: absolute;
  width: 600px !important;
  margin: 0 !important;
}
